.header {
    padding: 43px 60px 45px 45px;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 44px;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;

    color: #5179D7;

}

.nav_bar{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #5C5C5C;
}
.nav_bar_contact{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #5179D7;
}

.headerLeft {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.headerLeft img {
    width: 40px;
    height: 40px;
}

.headerSubtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
}

.headerRight {
    display: flex;
    column-gap: 30px;
    font-size: 20px;
    align-items: center;
    color: #9B9B9B;
}

.headerRightText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
}
.headerRightBasket {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.fast{
    color: red;
}
.com{
    color: black;
}

.burger_btn{
    height: 30px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    display: none;
}
.burger_btn:before{
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burger_btn span{
    position: absolute;
    top: 13px;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burger_btn:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: black;
    height: 2px;
}

.header_icon{
    color: #5C5C5C;
}


@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .headerRight{
        display: none;
    }
    .burger_btn{
        display: block;
    }


}


@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }

}


@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .headerNav{
        align-items: center;

    }
    .header{
        padding: 43px 60px 45px 0;
    }
}