.header {
    padding: 5px 55px;
    background-color: #111111;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;

    color: #5179D7;

}

.nav_bar{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #5C5C5C;
}
.nav_bar_contact{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #5179D7;
}

.headerLeft {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.headerLeft img {
    width: 40px;
    height: 40px;
}

.headerSubtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
}

.headerRight {
    display: flex;
    column-gap: 30px;
    font-size: 20px;
    align-items: center;
    color: #9B9B9B;
}

.headerRightText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
}
.headerRightBasket {
    display: flex;
    align-items: center;
}

.headerContent{
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
}

.burger_btn{
    display: none;
    width: 100px;
}
.header_flex{
display: flex;
    column-gap: 20px;
    align-items: baseline;
}
.header_flex img{
    width: 20px;
}
.header_icon{
    fill: #ff0029;
}

.ul_list{
    display: flex;
    width: 100% ;
    column-gap: 15px;
}
.ul_list li {
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.ul_list li:hover{
    color:#ff0029 ;
}


/*@media screen and (max-width: 1200px){*/
/*    .container{*/
/*        width: 1140px;*/
/*    }*/
/*}*/


/*@media screen and (max-width: 1199px){*/
/*    .container{*/
/*        width: 960px;*/
/*    }*/
/*    .headerRight{*/
/*        display: none;*/
/*    }*/
/*    .burger_btn{*/
/*        display: block;*/
/*    }*/


/*}*/


/*@media screen and (max-width: 991px){*/
/*    .container{*/
/*        width: 720px;*/
/*    }*/

/*}*/


/*@media screen and (max-width: 767px){*/
/*    .container{*/
/*        width: 540px;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 575px){*/
/*    .container{*/
/*        width: 100%;*/
/*        padding: 0 15px;*/
/*    }*/
/*    .headerNav{*/
/*        align-items: center;*/

/*    }*/
/*    .header{*/
/*        padding: 43px 60px 45px 0;*/
/*    }*/
/*    .header_flex{*/
/*        margin-left: 100px;*/

/*        display: block;*/

/*    }*/
/*    ul li{*/
/*        width: auto;*/
/*    }*/
/*}*/