.header {
    padding: 43px 60px 45px 45px;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 44px;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 35px;
}

.headerLeft {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.headerLeft img {
    width: 40px;
    height: 40px;
}

.headerSubtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
}

.headerRight {
    display: flex;
    column-gap: 30px;
    font-size: 20px;
    align-items: center;
    color: #9B9B9B;
}

.headerRightText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
}
.headerRightBasket {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.fast{
    color: red;
}
.com{
    color: black;
}