.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
.cpu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 400px;
    background: #e3e3e3;
    margin-top: 50px;
}
.image{
    width: 197px ;
    float: right;
}
.cardFlex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
.title{
    padding-top: 54px;
    margin-left: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #000000;
}
.price{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #787878;
    margin-left: 18px;
    padding-top:10px;
}
.CardBtn{
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #5179D7;
    position: static;
    margin-left: 18px;
    margin-bottom: 30px;
    cursor: pointer;
}


.search {
    border: 1px solid #8BB43C;
    border-radius: 10px;
    outline: none;
    width: 250px;
    height: 45px;
    color: black;
    padding-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

.search::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }

}


@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }

}


@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .card{
        width: auto;
    }
}