.section {

}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.title {

}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 50px;
}

.formItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.formLabel {

}

.formInput {
    width: 200px;
    height: 40px;
    border: 1px solid #8BB43C;
    border-radius: 8px;
    outline: none;
    padding-left: 15px;
}

.formTextarea {
    width: 200px;
    height: 60px;
    border: 1px solid #8BB43C;
    border-radius: 8px;
    outline: none;
    padding: 15px;
    resize: none;
}

.formSelect {
    width: 200px;
    height: 30px;
    border: 1px solid #8BB43C;
    border-radius: 8px;
    outline: none;
}

.checkboxText {

}

.checkboxBlock {

}

.checkbox {
    margin-right: 6px;
}

.formBtn {
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: #8BB43C;
    color: white;
    cursor: pointer;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    margin-right: 15px;
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.list::-webkit-scrollbar {
    display: none;
}

.item{
    border: 1px solid #8BB43C;
    border-radius: 20px;
    padding: 15px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemImg{
    width: 70px;
    height: 70px;
}

.itemCenter{
    width: 150px;
}

.itemTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 8px;
}

.itemPrice{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.itemBtn{
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #8BB43C;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.itemBtn:hover {
    color: #FEF0F0;
    border: #FEF0F0;
    transition: .3s;
}

.itemBtn svg path {
    fill: #8BB43C;
    transition: .3s;
}

.itemBtn svg path:hover {
    fill: #FF8585;
    transition: .3s;
}

.cartFooter{

}

.cartFooterItem{
    display: flex;
    column-gap: 9px;
    align-items: flex-end;
    margin-bottom: 22px;
}

.cartFooterTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.cartFooterLine{
    border-bottom: 1px dashed #dfdfdf;
    max-width: 155px;
    width: 100%;
}

.right {
    width: 40%;
}


@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }

}


@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }
    .item{
        display: block;
        width: 250px;
    }
    .row{
        justify-content: space-around;
    }


}


@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .row{
        flex-direction: column-reverse;
    }
    .right{
        width: auto;
    }
    .formItem{
        display: block;
    }
}