.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    z-index: 3;
    transform: translateX(-160%);
}

.menu.active{
    transform: translateX(0);
}


.menu__content{
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -110px;
}

.menu__header{
    font-size: 2rem;
    color: #5179D7;
    border-bottom: 1px solid white ;
    width: 100%;
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: #8e8c8d;
    font-size: 25px;
    line-height: 2em;


}
ul li {
    width: 300px;
}


@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }

}


@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }

}


@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
    .blur{
        display: none;
    }
    .menu__content{
        width: 50%;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    ul li a{
        margin-left: 20px;
    }
    .menu__content{
        width: 70%;
    }
}