.slider_img{
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 700px;

}



@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .sliderRight{
        width: 500px;
    }
    .sliderRight img{
        width: 400px;
        height:407px;
    }
    .sliderLeft{
        margin-top: auto;
    }
}


@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }
    .sliderContent{
        flex-direction: column-reverse;
    }
    .sliderRight{
        margin-right: 250px;
    }
    .sliderRight img{
        width: 300px;
        height: auto;
        margin-left: 150px;
    }
    .sliderLeft{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .sliderTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 120%;
        /* or 36px */
        text-align: center;
        color: #000000;
    }
    .sliderText{
        text-align: center;
    }
    .sliderBtn{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}


@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .sliderTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        text-align: center;
        color: #000000;
    }
    .sliderLeft{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .sliderRight{
        width: auto;
    }
    .sliderRight img{
        width: 300px;
        height: auto;
        margin-left: auto;
    }
}