.title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin: 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    width: calc(25% - 40px);
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 20px 29px 34px 30px;
    transition: .5s;
}
.card:hover {
    border: 1px solid #8BB43C;
    transition: .5s;
    transform: translateY(-15px);
    box-shadow: 0 14px 30px rgba(139, 180, 60, 0.5);
}

.cardTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 14px 0;
}

.cardImg {
    width: 100%;
}

.cardFooter {
    display: flex;
    column-gap: 30px;
}

.cardPrice {

}

.cardPriceTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.cardPriceNum {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.cardBtn {
    background: rgb(16, 101, 180);
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    color: #D3D3D3;
}

.cardBtnCheck {
    background: forestgreen;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    color: #D3D3D3;
    font-size: 20px;
}

.cardLike {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    border-radius: 7px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.back {
    display: flex;
    column-gap: 15px;
}
.arrow:hover {
    background-color: #8BB43C;
    color: white;
}

.arrow {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.emptyRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 100px;
}

.emptySmiley {
    font-size: 50px;
}

.emptyTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.emptySubtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
}

.emptyBtn {
    background: #9DD458;
    border-radius: 18px;
    padding: 19px 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}