.footer{
    background: #111;
    height: 100%;
}
.footer_content{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.footer_contact{
    width: 200px;
}
.footer_text{
    width: 600px;
}
.footer_last_text{
    width: 200px;
}
.footer_icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;

}
.footer_icon{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 30%;
    cursor: pointer;
}
.creators{
    display: flex;
    height: 50px;
    background: black;
    color: white;
    align-items: center;
    margin-top: 20px;
}
.creators a{
    color:#5179D7 ;
}


@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }

}


@media screen and (max-width: 991px){
    .container{
        width: 720px;
    }

}


@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .footer_content{
        flex-direction: column;
    }
    .footer_text{
        width: 250px;
    }
}