.layout {
    border-radius: 20px;
    background-color: #fff;
    max-width: 1366px;
    margin: 0 auto;
    width: 100%;
    padding: 0 45px 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    min-height: calc(100vh - 85px);
}